# Century Adventures SMTP Configuration
# Set these credentials to enable branded form submission notifications and responses via Zoho SMTP.
# Rename this file to '.env' at the root of the project to enable local development support.

ZOHO_EMAIL=admin@century-adventures.com
ZOHO_PASSWORD=your_zoho_password_here
